@tailwind base;
@tailwind components;
@tailwind utilities;

.heroBg {
    background-image: url(./assets//imgs/bgPhone.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.heroBgDesktop {
    background-image: url(./assets//imgs/bgDesktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navItemPhone {
    list-style: none;
    margin-top: 10px;
}

.navLinkPhone {
    font-size: 25px;
    color: black;
}

.navLinkDesktop {
    font-size: 15px;
    color: white;
}


.round {
    border-radius: 30% 70% 70% 30% / 30% 43% 57% 70%;
}


.curl {
    background-image: url(assets/imgs/Ellipse.png);
    background-repeat: no-repeat;
}

